.our-section{padding: 100px 0;overflow: hidden;position: relative;}
.our-section::before {content: '';z-index: -1; background-position:bottom; background-image: url(../../../assets/images/contact-bg.svg);background-size: 100%;background-repeat: no-repeat;position: absolute;width: 100%;height: 100%;top:0;left: 0;}
.title-box{margin-bottom: 80px;text-align: left;}
.title-box h2{font-weight: 700;font-size: 35px;color: #001588;}
.title-box h2 span{font-weight: 400;display: block;margin-bottom: 3px;}
.info-box h4{font-weight: 400;font-size: 23px;color: #001588;line-height: 1.3;margin-bottom: 5px;}
.info-box span{font-weight: 500;font-size: 15px;color: #000000;line-height: 1;margin-bottom: 20px;display: block;}
.product-box{justify-content: center;}
.product-box .solar-img{width: 180px;height: 260px;display: inline-block;}
.product-list li{border: 1px solid #D8D8D8;margin-right: 30px;margin-bottom: 15px;padding: 30px 15px;display: inline-block;vertical-align: top; width: 48%;}
.product-list li:last-child{margin-bottom: 0}
.product-list li:nth-child(2n){margin-right: 0;}
.detail-box-list{margin-bottom: 25px;}
.detail-box-list .detail-box{width: 100%;margin-right: 0;margin-bottom: 15px;display: inline-block;}
.detail-box-list .detail-box:last-child{margin-right: 0;margin-bottom: 0;}
.detail-box h6{color: #000000;font-weight: 500;font-size: 15px;margin-bottom: 5px;line-height: 1;}
.detail-box p{color: #000000;font-weight: 400;font-size: 13px;line-height: 1;}
.info-box{width: calc(100% - 240px);margin-left: 55px;}
.info-box .link-btn.blue{width: 145px;min-width: auto;font-size: 15px;height: 50px;padding:0 25px 0 10px;}

.street-section{background-color: #FFD100;padding: 80px 0;}
.street-section .title-box{text-align: center;}
.street-list li{display: inline-block;vertical-align: top;margin-right: 15px;width: 18%;}
.street-list li:last-child{margin-right: 0;}
.street-box,.street-list {text-align: center;}
.street-box .street-img-box{width: 75px; height: 75px; margin: 0 auto 20px; border-radius: 50%; display: flex;justify-content: center;align-items: center;border: 3px solid #001588;}
.street-box h4{font-weight: 700;font-size: 20px;color: #000;}

.company-section{padding: 100px 0 0;}
.company-section .link-btn.blue{min-width:270px;font-size: 16px;cursor: pointer;}
.company-section .link-btn.blue::before{background-image: url(../../../assets/images/catalouge.svg);width: 30px;height: 35px;}
.company-box h2{font-weight: 600;font-size: 35px;line-height: 1.3;width: 80%;margin-bottom: 20px;}
.table-box{overflow: auto;display: inline-block;width: 100%;}
.table-box table {border-collapse: collapse;width: 1110px;overflow: hidden;}
.table-box  th{background-color: #29327D;color: #fff;}
.table-box   td, th {border: 2px solid #FFD100;text-align: left;padding: 8px;font-weight: 400;font-size: 15px;text-align: center;}

/* responsive */
@media (max-width:1199px){
    .product-list li{
        padding: 15px 20px;
    }
    .product-box .solar-img {
        width: 150px;
        height: 215px;
    }
    .info-box {
        width: calc(100% - 200px);
        margin-left: 40px;
    }
    .solar-img img{
        width: 100%;
        height: 100%;
    }
}
@media (min-width:992px){
    .product-list li:nth-last-child(2){
        margin-bottom: 0;
    }
}
@media (max-width:991px){
    .product-list li{
        margin-bottom: 30px;
        margin-right: 20px;
    }
    .product-list li:last-child{
        margin-bottom: 0;
    }
    .our-section{
        padding:50px 0;
    }
    .title-box{
        margin-bottom: 35px;
    }
    .info-box {
        width: 100%;
        margin-left: 0;
    }
    .title-box h2{
        font-size: 30px;
    }
    .product-box{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .product-box .solar-img{
        margin: 0 auto 10px;
        
    }
    .submersible-section{
        padding: 50px 0;
    }
    .company-section .link-btn.blue{
        height: 60px;
    }
    .street-box h4{
        font-size: 18px;
    }
}
@media (max-width:767px){
    .company-section{
        padding: 50px 0 0;
    }
    .company-box h2{
        width: 100%;
        font-size: 29px;
    }
    .street-list li{
        width: 30%;
        margin-bottom: 30px;
    }
    .street-section{
        padding: 45px 0 35px;
    }
    .street-box .street-img-box{
        width: 50px;
        height: 50px;
    }
    .street-box .street-img-box img{
        width: 25px;
        height: 25px;
        margin: auto;
    }
    .street-box h4{
        font-size: 14px;
    }
}
@media (max-width:575px){
    .info-box{
        width: 100%;
        margin-top: 15px;
    }
    .product-box{
        flex-wrap: wrap;
    }
    .detail-box-list .detail-box{
        width: 47%;
    }
    .inner-box h5{
        font-size: 13px;
        margin-left: 10px;
    }
    .title-box h2{
        font-size: 25px;
    }
    .product-list li{
        width: 100%;
        margin-right: 0;
    }
    .company-box h2{
        font-size: 25px;
    }
    .street-list li{
        margin-right: 10px;
        width: 45%;
    }
    .street-box h4{
        font-size: 15px;
    }
}