<app-common-banner [data]="'Leading Suppliers of Solar Street Light'" ></app-common-banner>

<section class="our-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-box">
                    <h2> <span>Types of</span> Solar Lights</h2>
                </div>
            </div>
            <div class="col-12">
               <div class="our-inner-box">
                    <ul class="product-list">
                        <li>
                            <div class="product-box d-flex">
                                <figure class="solar-img">
                                    <img src="../../../assets/images/light-1.png" alt="light-img">
                                </figure>
                                <div class="info-box">
                                    <h4>Solar Two-In-One
                                        <p style="display:block;">Light System</p>
                                    </h4>
                                    <span>ANSP Smart Energy</span>
                                    <div class="detail-box-list">
                                        <div class="detail-box">
                                            <h6>LED Warranty</h6>
                                            <p>1 hp to 50 hp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Battery</h6>
                                            <p>Inbuilt Li-ion Battery</p>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="link-btn blue">Learn More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-box d-flex">
                                <figure class="solar-img">
                                    <img src="../../../assets/images/light-2.png" alt="light-img">
                                </figure>
                                <div class="info-box">
                                    <h4>Solar Two-In-One
                                        <p style="display:block;">Light System</p>
                                    </h4>
                                    <span>ANSP Smart Energy</span>
                                    <div class="detail-box-list">
                                        <div class="detail-box">
                                            <h6>LED Warranty</h6>
                                            <p>1 hp to 50 hp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Battery</h6>
                                            <p>Inbuilt Li-ion Battery</p>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="link-btn blue">Learn More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-box d-flex">
                                <figure class="solar-img">
                                    <img src="../../../assets/images/light-3.png" alt="light-img">
                                </figure>
                                <div class="info-box">
                                    <h4>Solar Two-In-One
                                        <p style="display:block;">Light System</p>
                                    </h4>
                                    <span>ANSP Smart Energy</span>
                                    <div class="detail-box-list">
                                        <div class="detail-box">
                                            <h6>LED Warranty</h6>
                                            <p>1 hp to 50 hp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Battery</h6>
                                            <p>Inbuilt Li-ion Battery</p>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="link-btn blue">Learn More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
               </div>
           </div>
        </div>
    </div>
</section>

<section class="street-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-box">
                    <h2>ANSP Solar Street Lights</h2>
                </div>
            </div>
            <div class="col-12">
                <ul class="street-list">
                    <li>
                        <div class="street-box">
                            <figure class="street-img-box">
                                <img src="../../../assets/images/Inbuilt-Battery.svg" alt="street-img">
                            </figure>
                            <h4>Inbuilt Battery</h4>
                        </div>
                    </li>
                    <li>
                        <div class="street-box">
                            <figure class="street-img-box">
                                <img src="../../../assets/images/Backup.svg" alt="street-img">
                            </figure>
                            <h4>Long Battery Backup</h4>
                        </div>
                    </li>
                    <li>
                        <div class="street-box">
                            <figure class="street-img-box">
                                <img src="../../../assets/images/LED.svg" alt="street-img">
                            </figure>
                            <h4>Good Quality LED</h4>
                        </div>
                    </li>
                    <li>
                        <div class="street-box">
                            <figure class="street-img-box">
                                <img src="../../../assets/images/long-life.svg" alt="street-img">
                            </figure>
                            <h4>LI-ion Battery with long life</h4>
                        </div>
                    </li>
                    <li>
                        <div class="street-box">
                            <figure class="street-img-box">
                                <img src="../../../assets/images/Warranty.svg" alt="street-img">
                            </figure>
                            <h4>2 Years Mfg. Warranty</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="company-section">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="company-box">
                    <h2>Company Catalouge</h2>
                    <button type="button" class="link-btn blue">Download Our Catalouge</button>
                </div>
            </div>
            <div class="col-12">
                <div class="table-box">
                    <table>
                        <tr>
                          <th>Watt</th>
                          <th>Backup <span>(hours)</span></th>
                          <th>Power <span>(Watt)</span></th>
                          <th>Module Current <span>(Imp)</span></th>
                          <th>Battery Voltage</th>
                          <th>Pole Length</th>
                          <th>Pole & Mechanical Parts</th>
                          
                        </tr>
                        <tr>
                          <td>9</td>
                          <td>14</td>
                          <td>12</td>
                          <td>4</td>
                          <td>10</td>
                          <td>5 meter</td>
                          <td>GI Iron</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>14</td>
                            <td>12</td>
                            <td>4</td>
                            <td>10</td>
                            <td>5 meter</td>
                            <td>GI Iron</td>
                          </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>