<!-- contact us -->
<section class="contact-section" >
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="conatact-text">
                    <h1>Contact Us</h1>
                    <p>ANSP Smart Energy is an affordable way for you to make a long term commitment to the environment by choosing to use 
                        renewable energy as a power source.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="form-section" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="form-box">
                    <h4>Get in touch</h4>
                    <p>You can also email us at info@choosebeam.com</p>
                    <ul class="input-list">
                        <li>
                            <div class="form-grp col-grp">
                                <label class="label-name">Fisrt Name</label>
                                <input type="text" class="input-box" />
                            </div>
                            <div class="form-grp col-grp">
                                <label class="label-name">Last Name</label>
                                <input type="text" class="input-box" />
                            </div>
                        </li>
                        <li>
                            <div class="form-grp">
                                <label class="label-name">Email ID</label>
                                <input type="text" class="input-box" />
                            </div>
                        </li>
                        <li>
                            <div class="form-grp">
                                <label class="label-name">Message</label>
                                <textarea type="text" class="input-box area-box"> </textarea>
                            </div>
                        </li>
                    </ul>
                    <button href="javascript:void(0)" class="link-btn blue">Send a Message</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Request A Quote -->
<section class="contact-section" >
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="conatact-text">
                    <h1>Request A Quote</h1>
                    <p>ANSP Smart Energy is an affordable way for you to make a long term commitment to the environment by choosing to use 
                        renewable energy as a power source.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="form-section quote-section" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="form-box">
                    <!-- <h4>Get in touch</h4> -->
                    <p>We take great pride in everything that we do, control over products allows us to ensure our customers receive the best quality service.</p>
                    <ul class="input-list">
                        <li>
                            <div class="form-grp col-grp">
                                <label class="label-name">Name</label>
                                <input type="text" class="input-box" />
                            </div>
                            <div class="form-grp col-grp">
                                <label class="label-name">Phone</label>
                                <input type="text" class="input-box" />
                            </div>
                        </li>
                        <li>
                            <div class="form-grp col-grp">
                                <label class="label-name">Email ID</label>
                                <input type="text" class="input-box" />
                            </div>
                            <div class="form-grp col-grp">
                                <label class="label-name">State</label>
                                <input type="text" class="input-box" />
                            </div>
                        </li>
                        <li>
                            <div class="form-grp col-grp select-box">
                                <label class="label-name">Select an option</label>
                                <!-- <input type="text" class="input-box" /> -->
                                <select class="input-box">
                                    <option>Select an option</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="form-grp col-grp select-box">
                                <label class="label-name">Products</label>
                                <select class="input-box">
                                    <option>Select an option</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="form-grp col-grp select-box">
                                <label class="label-name">Types of Pump</label>
                                <select class="input-box">
                                    <option>Types of Pump</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="form-grp col-grp select-box">
                                <label class="label-name">hp</label>
                                <select class="input-box">
                                    <option>Select hp</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <button href="javascript:void(0)" class="link-btn blue">Request a Quote</button>
                </form>
            </div>
        </div>
    </div>
</section>