<section class="download-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="dowload-left">
                    <p>Improving The Performance Of Solar Energy.</p>
                    <h2>Discover Independence Through Using The Power Of Solar Panels!</h2>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="dowload-right">
                    <h3>Download Product Catalogue</h3>
                    <form>
                        <ul class="input-list">
                            <li>
                                <div class="form-grp col-grp">
                                    <input type="text" placeholder="Name" class="input-box" />
                                </div>
                                <div class="form-grp col-grp">
                                    <input type="text" placeholder="Last Name" class="input-box" />
                                </div>
                            </li>
                            <li>
                                <div class="form-grp col-grp">
                                    <input type="number" placeholder="Phone" class="input-box" />
                                </div>
                                <div class="form-grp col-grp">
                                    <input type="text" placeholder="State" class="input-box" />
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="link-btn yellow">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>