<app-common-banner [data]="'About Us'" ></app-common-banner>

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-lg-0 mb-5">
                <div class="position-relative info-inner">
                    <div class="inner-box">
                        <i> <img src="../../../assets/images/home-icon.svg" alt="home-icon"> </i>
                        <span>100+</span>
                        <p>Residential Project Compeleted</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="about-text">
                    <span>ABOUT US</span>
                    <h2>Who are we?</h2>
                    <p>ANSP Smart Energy is an affordable way for you to make a long term commitment to the environment by choosing to use renewable energy 
                        as a power source.
                    </p>
                    <p>We pride ourselves in our quality work and only providing the highest quality solar equipment. Contact Beam to see how you can save 
                        money on your next utility bill.
                    </p>
                    <p>The power to choose is yours. Switching to solar power provides you with clean, affordable energy with discounted prices and locked-
                        in rates. Why pay utility rates when you can control your own energy costs and save thousands.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mb-lg-0 mb-5">
                <figure class="map-img-box">
                    <img src="../../../assets/images/map.png" alt="map-img">
                </figure>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-wrap align-items-end">
                <div class="address-box">
                    <h6>2307 Beverley Rd Brooklyn, New York 11226 United States.</h6>
                    <p> <span>Email:</span>anilchamola4u@gmail.com</p>
                    <a href="javascript:void(0)" class="link-btn blue">Make a Call</a>
                </div>
            </div>
        </div>
    </div>
</section>