<footer>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-12">
                <div class="logo-box">
                    <a href="javascript:void(0)">
                        <img src="../../../assets/images/logo.svg" alt="logo-img" >
                    </a>
                </div>
            </div>
            <div class="col-xl-10 col-lg-9 col-12">
                <div class="footer-right">
                    <div class="inner-box d-flex flex-wrap w-100">
                        <div class="col-md-2 col-6">
                            <div class="footer-menu-box">
                                <h6>Company</h6>
                                <ul class="footer-menu-list">
                                    <li><a href="javascript:void(0)">About Us</a></li>
                                    <li><a href="javascript:void(0)">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="footer-menu-box">
                                <h6>Services</h6>
                                <ul class="footer-menu-list">
                                    <li><a href="javascript:void(0)">Solar Panel</a></li>
                                    <li><a href="javascript:void(0)">Solar Pump System</a></li>
                                    <li><a href="javascript:void(0)">Solar Light System</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="footer-menu-box">
                                <h6>Support</h6>
                                <ul class="footer-menu-list">
                                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                    <li><a href="javascript:void(0)">Terms & Condition</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="footer-social-box">
                                <a href="javascript:void(0)" class="number">+91 99584 91929</a>
                                <div class="email-box">Email :
                                    <a href="javascript:void(0)" class="">anilchamola4u@gmail.com</a>
                                </div>
                                <p>2307 Beverley Rd Brooklyn,New York 11226 United States.</p>
                                <ul class="social-list">
                                    <li> <a href="javascript:void(0)"><img src="../../../assets/images/youtube.svg"></a></li>
                                    <li> <a href="javascript:void(0)"><img src="../../../assets/images/instagram.svg"></a></li>
                                    <li> <a href="javascript:void(0)"><img src="../../../assets/images/twitter.svg"></a></li>
                                    <li> <a href="javascript:void(0)"><img src="../../../assets/images/linkedin.svg"></a></li>
                                    <li> <a href="javascript:void(0)"><img src="../../../assets/images/facebook.svg"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom-footer">
                            <div class="d-flex justify-content-md-between justify-content-center align-items-center flex-wrap">
                                <strong>© 2013-2022 ANSP Smart Energy registed in India. </strong>
                                <strong>All rights are reserved by  ANSP Smart Energy </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>