<app-common-banner [data]="'Leading Suppliers of Solar Water Pump'" ></app-common-banner>

<section class="panel-section">
    <div class="container">
        <div class="row">
           <div class="col-md-6 col-12  order-md-1 order-2">
                <div class="panel-left">
                    <h2>The Zenith Of Quality With Zero-Gap Technology</h2>
                    <ul class="quality-list">
                        <li>
                            <div class="inner-box d-flex flex-wrap align-items-center">
                                <figure class="img-box">
                                    <img src="../../../assets/images/pid.svg" alt="ped-img" >
                                </figure>
                                <h5>High PID resistant</h5>
                            </div>
                        </li>
                        <li>
                            <div class="inner-box d-flex flex-wrap align-items-center">
                                <figure class="img-box">
                                    <img src="../../../assets/images/week-light.svg" alt="ped-img" >
                                </figure>
                                <h5>Excellent weak light persormance</h5>
                            </div>
                        </li>
                        <li>
                            <div class="inner-box d-flex flex-wrap align-items-center">
                                <figure class="img-box">
                                    <img src="../../../assets/images/high-power.svg" alt="ped-img" >
                                </figure>
                                <h5>High Power Output</h5>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="link-btn blue">Request a Quote</a>
                </div>
           </div>
           <div class="col-md-6 col-12 mb-md-0 mb-5 order-md-2 order-1">
                <div class="text-center">
                    <figure class="solar-img">
                        <img src="../../../assets/images/solar.png">
                    </figure>
                </div>
           </div>
        </div>
    </div>
</section>

<section class="module-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 mb-md-0 mb-5">
                <div class="text-center">
                    <figure class="solar-module-img">
                        <img src="../../../assets/images/solar-module.png">
                    </figure>
                </div>
           </div>
           <div class="col-md-6 col-12">
                <div class="panel-left">
                    <h2>Solar module Applications</h2>
                    <ul class="module-list">
                        <li>Solar Power plant</li>
                        <li>Residential Solar Project</li>
                        <li>Commercial Solar Projects</li>
                        <li>Drinking Water Solar Pump Systems</li>
                        <li>Irrigation Purpose</li>
                    </ul>
                </div>
           </div>
        </div>
    </div>
</section>

<section class="our-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-box">
                    <h2>Our Solar Modules</h2>
                </div>
            </div>
            <div class="col-12">
               <div class="our-inner-box">
                    <ul class="product-list">
                        <li>
                            <div class="product-box d-flex">
                                <figure class="solar-img">
                                    <img src="../../../assets/images/small-solar.png" alt="solar-img">
                                </figure>
                                <div class="info-box">
                                    <h4>ANSP 355W Prime</h4>
                                    <span>Monocrystalline/N-type</span>
                                    <div class="detail-box-list">
                                        <div class="detail-box">
                                            <h6>Nominal Power</h6>
                                            <p>355 Wp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Nominal Power</h6>
                                            <p>355 Wp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Nominal Power</h6>
                                            <p>355 Wp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Nominal Power</h6>
                                            <p>355 Wp</p>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="link-btn blue">Download Datasheet</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-box d-flex">
                                <figure class="solar-img">
                                    <img src="../../../assets/images/small-solar.png" alt="solar-img">
                                </figure>
                                <div class="info-box">
                                    <h4>ANSP 355W Prime</h4>
                                    <span>Monocrystalline/N-type</span>
                                    <div class="detail-box-list">
                                        <div class="detail-box">
                                            <h6>Nominal Power</h6>
                                            <p>355 Wp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Nominal Power</h6>
                                            <p>355 Wp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Nominal Power</h6>
                                            <p>355 Wp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Nominal Power</h6>
                                            <p>355 Wp</p>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="link-btn blue">Download Datasheet</a>
                                </div>
                            </div>
                        </li>
                    </ul>
               </div>
           </div>
        </div>
    </div>
</section>

<!-- download-section -->
<app-product-catalogue></app-product-catalogue>
