<!-- banner-section -->
<section class="banner-section">
    <i class="arrow" ></i>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12" >
                <div class="banner-left">
                    <p>Complete Residential and Government Supply Solar System</p>
                    <h1>We Invest in the Future of <span>Energy!</span> </h1>
                    <div class="left-bottom d-flex flex-wrap align-items-sm-center">
                        <ul class="product-list">
                            <li> <figure> <img src="../../../assets/images/penal.svg"> </figure> </li>
                            <li> <figure> <img src="../../../assets/images/pump.svg">  </figure></li>
                            <li> <figure> <img src="../../../assets/images/light.svg"> </figure> </li>
                        </ul>
                        <a href="javascript:void(0)" class="link-btn blue">Request a Quote</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 banner-col">
                <div class="banner-right">
                    <div class="inner-box">
                        <figure>
                            <img src="../../../assets/images/vision.svg" alt="vision-img">
                        </figure>
                        <span>Our Vision</span>
                        <p>Growing demand forwlwctricity while protecting our climate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- info-section -->
<section class="info-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mb-lg-0 mb-5">
                <div class="img-leftbox">
                    <h3>We Are Ready For Solar Energy,All We Need Is To Use It Well!</h3>
                    <div class="position-relative info-inner">
                        <figure class="info-img-box">
                            <img src="../../../assets/images/home.png">
                        </figure>
                        <div class="inner-box">
                            <i> <img src="../../../assets/images/home-icon.svg" alt="home-icon"> </i>
                            <span>100+</span>
                            <p>Residential Project Compeleted</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="info-right-box">
                    <figure class="four-box-img">
                        <img src="../../../assets/images/four-box.svg" alt="four-img">
                    </figure>
                    <span>We drive the transition to more sustainable, reliable, and affordable energy systems. With our innovative 
                        technologies, we energize society, that’s our aim!
                    </span>
                    <ul class="info-list">
                        <li>
                            <div class="info-box">
                                <h4>Identify your need</h4>
                                <p>We drive the transition to more sustainable, reliable, and affordable energy systems.</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-box">
                                <h4>Acknowledge you with solution</h4>
                                <p>We drive the transition to more sustainable, reliable, and affordable energy systems.</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-box">
                                <h4>Prepare the plant according your Need</h4>
                                <p>We drive the transition to more sustainable, reliable, and affordable energy systems.</p>
                            </div>
                        </li>
                        <li>
                            <div class="info-box">
                                <h4>Satisfied Results</h4>
                                <p>We drive the transition to more sustainable, reliable, and affordable energy systems.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- product-section -->
<section class="product-section">
    <div class="container">
        <div class="row">
            <div class="product-main-box d-flex flex-wrap w-100">
                <div class="col-md-6 col-12 mb-md-0 mb-3">
                    <div class="product-left">
                        <p>Fostering the Growth of Solar Energy Market</p>
                        <h2>A Leading Supplier Of Solar Materials For Manufacturers, Installers & Contractors.</h2>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-right">
                        <p>Our Solar business is focused on creating PV material solutions that reduce manufacturing costs, while improving 
                            the yield and performance of solar energy productst</p>
                        <a href="javascript:void(0)" class="link-btn white">Request a Quote</a>
                    </div>
                </div>
                <div class="col-12 product-bootom">
                    <div class="product-inner">
                        <ul class="products-list">
                            <li>
                                <div class="product-listbox">
                                    <figure class="products-img">
                                        <img src="../../../assets/images/product-1.png" alt="product-img">
                                    </figure>
                                    <div class="list-inner">
                                        <h4>Solar Panel</h4>
                                        <p>Our Solar business is focused on creating PV material solutions that reduce manufacturing</p>
                                        <a [routerLink]="['/solar_panel']" class="link-btn border-blue">Our Products</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-listbox">
                                    <figure class="products-img">
                                        <img src="../../../assets/images/product-2.png" alt="product-img">
                                    </figure>
                                    <div class="list-inner">
                                        <h4>Solar Pump</h4>
                                        <p>while improving the yield and performance of solar energy products</p>
                                        <a [routerLink]="['/solar_pump']" class="link-btn border-blue">Our Products</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-listbox">
                                    <figure class="products-img">
                                        <img src="../../../assets/images/product-3.png" alt="product-img">
                                    </figure>
                                    <div class="list-inner">
                                        <h4>Solar Street Light</h4>
                                        <p>Our Solar business is focused on creating PV material solutions that reduce manufacturing</p>
                                        <a [routerLink]="['/solar_light']" class="link-btn border-blue">Our Products</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- expence-section -->
<section class="expence-section">
    <div class="container">
        <div class="row">
            <div class="expence-main-box d-flex flex-wrap w-100">
                <div class="col-lg-6 col-12 mb-lg-0 mb-5">
                    <div class="expence-left">
                        <span>Making Tomorrow Different Today.</span>
                        <h2>Energize Society With Sustainable And Reliable Energy Systems!.</h2>
                        <p>Energize Society With In recent years, new capacity across the solar value chain has become necessary to 
                            support the PV market’s growth. However, the capital required to establish and scale-up wafer, solar cell and 
                            solar module manufacturing facilities is considerable. Energy Systems!
                        </p>
                        <a href="javascript:void(0)" class="link-btn yellow">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6 col-12 ">
                    <div class="expence-right">
                        <ul class="expence-list">
                            <li>
                                <div class="expence-box">
                                    <i> <img src="../../../assets/images/money.svg" alt="expence-img"> </i>
                                    <span>Save Your Money</span>
                                    <p>Save money on utilities or increase the value of your home by installing solar panels as a great option.</p>
                                </div>
                            </li>
                            <li>
                                <div class="expence-box">
                                    <i> <img src="../../../assets/images/service.svg" alt="expence-img"> </i>
                                    <span>5 Stars Customer Service</span>
                                    <p>Understand that we must go above our customer expectations during each interaction always. </p>
                                </div>
                            </li>
                            <li>
                                <div class="expence-box">
                                    <i> <img src="../../../assets/images/home-icon.svg" alt="expence-img"> </i>
                                    <span>Your Home Is Energyy</span>
                                    <p>Everyday the sun provides us with an abundance of free energy by placing solar panels on your roof..</p>
                                </div>
                            </li>
                            <li>
                                <div class="expence-box">
                                    <i> <img src="../../../assets/images/palnning.svg" alt="expence-img"> </i>
                                    <span>Consultation & Planning</span>
                                    <p>Our remote industrial solar systems are designed to reliably power our clients critical remote locations.</p>
                                </div>
                            </li>
                            <li>
                                <div class="expence-box">
                                    <i> <img src="../../../assets/images/engineers.svg" alt="expence-img"> </i>
                                    <span>Certified Engineers</span>
                                    <p>Our sales engineers on our staff have years of experience and can design any complete solar system.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- download-section -->

<!-- <app-product-catalogue></app-product-catalogue> -->