<app-common-banner [data]="'The Zenith Of Quality With Zero-Gap Technology'" ></app-common-banner>

<section class="our-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-box">
                    <h2> <span>Types of</span> Solar Pumps</h2>
                </div>
            </div>
            <div class="col-12">
               <div class="our-inner-box">
                    <ul class="product-list">
                        <li>
                            <div class="product-box d-flex">
                                <figure class="solar-img">
                                    <img src="../../../assets/images/pump.png" alt="pump-img">
                                </figure>
                                <div class="info-box">
                                    <h4>Solar Submersible 
                                        <p style="display:block;">Pump System</p></h4>
                                    <span>ANSP Smart Energy</span>
                                    <div class="detail-box-list">
                                        <div class="detail-box">
                                            <h6>Pump Range</h6>
                                            <p>1 hp to 50 hp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Maximum head</h6>
                                            <p>57 meters</p>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="link-btn blue">Learn More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-box d-flex">
                                <figure class="solar-img">
                                    <img src="../../../assets/images/pump.png" alt="pump-img">
                                </figure>
                                <div class="info-box">
                                    <h4>Solar Monoblock
                                        <p style="display:block;">Pump System</p>
                                    </h4>
                                    <span>ANSP Smart Energy</span>
                                    <div class="detail-box-list">
                                        <div class="detail-box">
                                            <h6>Pump Range</h6>
                                            <p>1 hp to 50 hp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Maximum head</h6>
                                            <p>57 meters</p>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="link-btn blue">Learn More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-box d-flex">
                                <figure class="solar-img">
                                    <img src="../../../assets/images/pump.png" alt="pump-img">
                                </figure>
                                <div class="info-box">
                                    <h4>Solar Open-Well 
                                        <p style="display:block;">Pump System</p></h4>
                                    <span>ANSP Smart Energy</span>
                                    <div class="detail-box-list">
                                        <div class="detail-box">
                                            <h6>Pump Range</h6>
                                            <p>1 hp to 50 hp</p>
                                        </div>
                                        <div class="detail-box">
                                            <h6>Maximum head</h6>
                                            <p>57 meters</p>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="link-btn blue">Learn More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
               </div>
           </div>
        </div>
    </div>
</section>

<section class="submersible-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-box">
                    <h2> Solar Submersible Pump System</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-wrap">
                    <div class="col-lg-4 col-md-6 col-12 mb-lg-0 mb-4">
                        <div class="system-box">
                            <figure class="system-img">
                                <img src="../../../assets/images/pump.png" alt="pump-img">
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-lg-0 mb-4">
                        <div class="system-box">
                           <h4>Operating Conditions</h4>
                           <ul class="system-list">
                                <li>Ambient Temperature: <span>+50°C</span></li>
                                <li>Liquid Temperature range: <span>0°C to 80°C</span></li>
                                <li>Water PH: <span>6.5 to 8</span></li>
                                <li>Sand Content: <span>25g/m3</span></li>
                           </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 ">
                        <div class="system-box">
                           <h4>Range of  Performance</h4>
                           <ul class="system-list">
                                <li>Maximum Flow: <span>780 m3/day</span></li>
                                <li>Maximum head: <span>57 meters.</span></li>
                                <li>Rating: <span>up to 30 hp</span></li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="company-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-lg-0 mb-5">
                <div class="company-box">
                    <h2>Company Catalouge</h2>
                    <button type="button" class="link-btn blue">Download Our Catalouge</button>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="company-box">
                    <h2>Features & Benefits</h2>
                    <ul class="system-list">
                        <li>Highly durable Stainless Steel construction of pump end</li>
                        <li>Highly energy efficient centrifugal water pump with energy efficient inverter duty motor</li>
                        <li>High efficiency solar photovoltaic panels with a service life of minimum 20 years</li>
                        <li>Robust design Galvanized steel mounting structure for long life</li>
                        <li>High technology automatic controller with dynamic MPPT (Maximum Power Point Tracking) control method</li>
                        <li>The controller offers complete protection against under and over voltage and dry run protection for the pump</li>
                        <li>Highly efficient controller with a conversion efficiency of 98%</li>
                        <li>Environmentally friendly air and noise pollution free solution</li>
                        <li>The controller is tropicalized to operate satisfactorily with an ambient temperature of up to 50°C Virtually no maintenance cost</li>
                   </ul>
                </div>

                <div class="company-box">
                    <h2>Applications</h2>
                    <ul class="system-list">
                        <li>Flood irrigation of small fields</li>
                        <li>Drip irrigation for farms</li>
                        <li>Cattle watering</li>
                        <li>Water supply for small villages, schools, hospitals and homes.</li>
                        <li>Pressure boiler feeding</li>
                        <li>Pure water treating system</li>
                        <li>Pharmaceutical and food stuff</li>
                        <li>Industrial washing and sprinkler system</li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
</section>